@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Roboto:wght@100;400;700&display=swap');

body {
  margin: 0;
  background-color: #EEE;
  color: #111;
font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 0;
  font-size: 45px;
  color: #111;
  font-family: 'Londrina Solid', cursive;
}

h2 {
  margin: 0;
  font-size: 25px;
  font-family: 'Londrina Solid', cursive;
}

h3 {
  margin: 0;
  font-size: 25px;
  color: #FFD100;
  font-family: 'Londrina Solid', cursive;
}

h4 {
  margin: 0;
  font-size: 25px;
  color: #F7B685;
  font-family: 'Londrina Solid', cursive;
}

h5 {
  margin: 0;
  font-size: 25px;
  color: #ED8E89;
  font-family: 'Londrina Solid', cursive;
}

h6 {
  margin: 0;
  font-size: 25px;
  color: #94C691;
  font-family: 'Londrina Solid', cursive;
}

h7 {
  margin: 0;
  font-size: 25px;
  color: #9BD6D9;
  font-family: 'Londrina Solid', cursive;
}

h8 {
  margin: 0;
  font-size: 25px;
  color: #B4A8E0;
  font-family: 'Londrina Solid', cursive;
}


h9 {
  margin: 0;
  font-size: 25px;
  color: #5DBCD2;
  font-family: 'Londrina Solid', cursive;
}



section {
  max-width: 1200px;
  margin: 0 auto;
  color: #79f8f8;
}

section + section {
  margin-top: -40px;
  color: #B4A8E0;

}

section.header {
  padding: 40px;
  color: #8252a7;

}

section.video {
  color: #f6bfbc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

section.video iframe {
  width: 100%;
  height: 400px;
}

section.projects {
  color: #008018;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

div.project {
  color: #111;
  flex: 1 0;
  margin: 40px;
  min-width: 300px;
  max-width: 400px;
}

div.project img {
  width: 100%;
  height: auto;
  background-color: #555;
}

div.project + div.project {
  margin-left: 0;
}

.tag {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  border: 1px solid #86007D;
  font-size: 12px;
  border-radius: 50px;
}

section.about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

div.profile {
  width: 100px;
  min-width: 100px;
  height: 100px;
  flex: 0;
  border-radius: 50%;
  margin: 40px;
  background-size: cover;
  background-position: center;
}

div.content {
  flex: 1;
  flex-basis: 0;
  margin: 40px;
  margin-left: 0;
}

div.content h2 {
  margin-top: 0;
}
